{% extends "../templates/base.njk" %}
 
{% block content %}
    {# Place page content here #}
    <h1>Hello, Friend</h1>
    {% include "../partials/about-templates.njk" %}
    {% include "../partials/about-partials.njk" %}
    {% include "../partials/about-macros.njk" %}
    {% include "../partials/about-pages.njk" %}
    {% include "../partials/about-assets.njk" %}
    {% include "../partials/about-styles.njk" %}
{% endblock %}

