<section>
<h2>Assets</h2>
    <p>Keep images and downloadable files in <code>src/assets</code> folder</p>
    <figure>
        <img src="../assets/sky.jpg"/>
        <caption>Photo by Pascal Debrunner on Unsplash</caption>
    </figure>
</section>