<section>
<h2>Styles</h2>
    <p>Keep your style files clean and as small as possible. Separate it into scss-partials for every template, page, partial and macros inside <code>src/styles</code> folder.</p>
</section>